#id_PostDiv table {
	margin-top: 40px;
	width: 100%;
} #id_PostDiv table td {
	border: 1px solid #000;
	border-radius: 3px;
} input, textarea {
	border: 0;
	background: none;
	font-size: 16px;
	width: 98%;
} textarea {
	height: 10em;
}

.message {
	background: #ddd;
	border: 1px solid #aaa;
	border-radius: 3px;
	margin: 5px;
} .message-header {
	color: #999;
	margin: 10px;
} .message-text {
	margin: 10px;
	color: black;
}

/* #id_LoadMore { */
button {
	font-size: 16px;
	margin-top: 5px;
	width: 100%;
}
